
.MediaSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.MediaHead{
    font-family: var(--italic_font);
    font-size:54px;
    color: var(--color-ternary);
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
}
.filter_btns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.filter_btns button{
    padding: 15px 20px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background:linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-ternary));
    transition: background .3s all ease-in-out;
}
.filter_btns button:focus{
    background: white;
    box-shadow: 0px 10px 20px rgba(171, 171, 171, 0.15);
    color: var(--color-secondary);
}
.Content_view_con{
    padding: 1.5rem .5rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 30px auto;
    /* border: 1px solid red; */
}
.Content_view_con video{
    width: 300px;
    cursor: pointer;
}