/* Base styles for larger screens */
.logo img {
    width: 62px;
}

.Header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2392156863);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    height: 100px;
    background-color:  var(--bs-dark);;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--bs-gradient); 
    font-size: 20px;
    font-weight: 600;
    transition: .3s all;
}
.nav-menu a:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: var(--color-primary);
}

.language_btn select{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--bs-gradient);
    background-color: var(--color-ternary);
}

.burger_menu {
    display: none; /* Hide the burger menu on larger screens */
    cursor: pointer;
    font-size: 30px;
    color: var(--bs-light);
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
    
    .nav-menu {
        display: none; /* Hide the navigation links by default */
        flex-direction: column;
        background-color: var(--bs-dark); /* Adjust the background color if needed */
        position: absolute;
        top: 100%; /* Adjust the position based on header height */
        left: 0;
        right: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 15px;
    }

    .nav-menu.open {
        display: flex; /* Show the menu when the burger menu is open */
    }

    .burger_menu {
        display: block; /* Show the burger menu on mobile screens */
        
    }

    .Header {
        justify-content: space-between;
    }

    /* .language_btn {
        display: none;
    } */
}
