.Footer{
    margin-top: 40px;
    border-top: 2px solid rgba(255, 255, 255, 0.2392156863);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem 1rem;
    flex-wrap: wrap;

}
.Footer .logo img{
    width: 120px;
}
.Footer .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.golden_click {
    font-family: var(--italic_font); /* Use your desired font */
    color: var(--secondary-color);
}
.socil_text_con{
    display: flex;
    align-items: start;
    gap: 15px;
}
.footer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.phone_number{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.phone_number a,.phone_number p{
    color: #71717a;
    text-decoration: none;
    max-width: 300px;
}

.social_menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.social_menu a{
    transition: transform .3s ;
}
.social_menu a path{
    fill:#ccc
}
.social_menu a:hover{
    transform: scale(.92);
}


@media(max-width:976px){
    .Footer{
        gap: 80px;
    }
    .social_menu{
        margin-top: 80px;
    }
    .footer_content{
        gap: 80px;
    }
    .footer_content .phone_number p{
        width: 220px;
    }
}